/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

/* Header styles */
header {
    background-color: #F0F3FF;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
}

/* Premium Plans section styles */
.premium-plans {
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
    padding: 0 1rem;
}

.plan-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top: 2rem;
    white-space: nowrap;
}

.plan {
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    margin: 1rem;
    width: 300px;
    height: auto; /* Mengubah tinggi menjadi otomatis */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}





.plan.featured {
    background-color: #3C5B6F;
    color: #fff;
    transform: scale(1.05); /*ukuran plan fetured tengah*/
}

.glow-animation {
    box-shadow: 0 0 20px rgba(60, 110, 113, 0.6);
    animation: glowAnimation 2s infinite alternate;
}

.plan-content {
    text-align: center;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.plan h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.plan .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.plan ul {
    list-style: none;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.plan li {
    margin-bottom: 0.5rem;
}

.plan button {
    background-color: #28485d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plan button:hover {
    background-color: #3C5B6F;
}

/* Footer styles */
footer {
    background-color: #3C5B6F;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Glow Animation */
@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 20px rgba(60, 110, 113, 0.6);
    }
    100% {
        box-shadow: 0 0 40px rgba(60, 110, 113, 1);
    }
}

/* Menambahkan aturan baru untuk layar desktop */
@media (min-width: 1200px) {
    .premium-plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 4rem); /* Mengatur tinggi minimal agar konten berada di tengah vertikal */
    }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .plan {
      width: 280px; /* Mengecilkan lebar pada layar kecil */
    }

    .plan.featured {
      width: 320px; /* Lebar fitur saat layar kecil */
    }
}
